<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">编程玩家</a>
    </div>
    <div class="nav navbar-top-links navbar-right"></div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="/">
                主页
            </a>
        </li>
        <li>
            <a href="#skill">
                技能
            </a>
        </li>
        <li>
            <a href="#bookmark">
                网摘
            </a>
        </li>
        <li>
            <a href="/">
                简介
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="page-host">
        <!--ko router: { transition:'entrance', cacheViews:false }--><!--/ko-->
    </div>
</div>